---
import Basic from "../layouts/Basic.astro";
---
<Basic>
  <section class="hero-slide-wrapper hero-1">
    <div class="hero-slider-active owl-carousel">
      <div class="single-slide bg-cover">
        <div class="container">
          <div class="row">
            <div class="col-12 col-xl-8 col-lg-10">
              <div class="hero-contents">
                <h2 style="font-size: 40px;">卓越软件，源自匠心开发！</h2>
                <h1 class="fs-lg" style="font-size: 60px;">CNKI 前端文档站</h1>
                <p>
                  专业前端文档、人工智能、大数据、云计算、软件开发，成就未来科技！
                </p>
                <a href="services.html" class="theme-btn"
                  >查看案例 <i class="fas fa-arrow-right"></i></a
                >
                <a href="about.html" class="theme-btn minimal-btn"
                  >关于我们<i class="fas fa-arrow-right"></i></a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="slide-top-img d-none d-lg-block bg-overlay bg-cover"
          style="background-image: url('assets/img/home1/hero1.jpg')"
        >
        </div>
        <div
          class="slide-bottom-img d-none d-xl-block bg-overlay bg-cover"
          style="background-image: url('assets/img/home1/hero2.jpg')"
        >
        </div>
      </div>
    </div>
  </section>
  
  <section class="features-wrapper features-1 section-padding pb-0">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-12">
          <div class="section-title text-center">
            <p>全心全意 为您服务</p>
            <h1>我们开展以下业务</h1>
          </div>
        </div>
      </div>
  
      <div class="row mt-3 mt-lg-5">
        <div class="col-xl-4 d-none d-xl-block">
          <div
            class="features-banner mt-30 bg-cover"
            style="background-image: url('assets/img/home1/feature_img.jpg')"
          >
          </div>
        </div>
        <div class="col-xl-8 col-12">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="single-features-item">
                <div class="icon">
                  <i class="flaticon-speech-bubble"></i>
                </div>
                <div class="content">
                  <h3>网站开发与建设</h3>
                  <p>包括企业官网、电子商务网站、信息门户等。涉及网页设计、前端开发、后端编程等工作。</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-features-item">
                <div class="icon">
                  <i class="flaticon-unlock"></i>
                </div>
                <div class="content">
                  <h3>企业管理系统开发</h3>
                  <p>如 ERP系统、CRM系统、HRM系统等，帮助企业优化管理流程，提高运营效率。</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-features-item">
                <div class="icon">
                  <i class="flaticon-mobile-app"></i>
                </div>
                <div class="content">
                  <h3>技术咨询与支持</h3>
                  <p>为客户提供技术方面的建议、规划和解决方案，以及软件使用过程中的售后支持和维护服务。</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-features-item">
                <div class="icon">
                  <i class="flaticon-joystick"></i>
                </div>
                <div class="content">
                  <h3>云主机、服务器、域名</h3>
                  <p>提供各类服务器、虚拟主机、云主机和域名</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div
                class="feature-cta bg-cover bg-center text-white"
                style="background-image: url('assets/img/home1/wave.png')"
              >
                <p>
                  此外,我们还提供大数据解决方案、人工智能解决方案、云计算服务等。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="about-us-wrapper section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 pr-lg-5 order-2 order-lg-1 mt-5 mt-lg-0">
          <div class="section-title mb-30">
            <p>海纳百川，有容乃大</p>
            <h1>
              关于我们
            </h1>
          </div>
  
          <p class="pr-5">
            拥有专门从事网站创建、设计和优化的专业团队。它们由经验丰富的网页设计师、前端和后端开发人员、内容创作者以及测试人员组成。网站开发公司能够根据客户的需求和目标，从概念规划到最终上线，精心打造出功能齐全、视觉吸引力强、用户体验良好的网站。无论是简洁的企业宣传网站，还是复杂的电商平台、社交网络或内容管理系统，都能凭借其专业的技术能力和创新的设计理念得以实现。同时，它们还注重网站的性能优化、安全性保障以及搜索引擎友好性，以确保网站在互联网的广阔世界中脱颖而出，为客户带来流量、提升品牌形象，并促进业务的增长和发展。
          </p>
  
          <div class="about-icon-box">
            <div class="icon">
              <i class="fal fa-users"></i>
            </div>
            <div class="content">
              <h3>核心价值观</h3>
              <p>
                用创新驱动发展，以品质赢得信赖，靠服务成就未来。
              </p>
            </div>
          </div>
        </div>
  
        <div class="col-lg-6 pl-lg-5 col-12 order-1 order-lg-2">
          <span class="dot-circle"></span>
          <div
            class="about-us-img"
            style="background-image: url('assets/img/home1/about-us.jpg')"
          >
          </div>
          <span class="triangle-bottom-right"></span>
        </div>
      </div>
    </div>
  </section>
  
  <section class="services-wrapper service-1 section-padding section-bg">
    <div class="container">
      <div class="row mb-4 mb-lg-5">
        <div class="col-12 col-lg-12">
          <div class="section-title text-white text-center">
            <p>十年积淀、技术雄厚</p>
            <h1>
              技术栈
            </h1>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 col-xl-3 col-12">
          <div class="single-service-item">
            <div class="icon">
              <img src="assets/img/icon/sicon1.png" alt="service" />
            </div>
            <h4>Manage IT Services</h4>
            <p>Sed perspicias unde omnis natus error volute</p>
            <a href="services-details.html"
              >learn more <i class="fas fa-arrow-right"></i></a
            >
          </div>
        </div>
        <div class="col-md-6 col-xl-3 col-12">
          <div class="single-service-item">
            <div class="icon">
              <img src="assets/img/icon/sicon2.png" alt="service" />
            </div>
            <h4>Product Engineering</h4>
            <p>Sed perspicias unde omnis natus error volute</p>
            <a href="services-details.html"
              >learn more <i class="fas fa-arrow-right"></i></a
            >
          </div>
        </div>
        <div class="col-md-6 col-xl-3 col-12">
          <div class="single-service-item">
            <div class="icon">
              <img src="assets/img/icon/sicon3.png" alt="service" />
            </div>
            <h4>Web Development</h4>
            <p>Sed perspicias unde omnis natus error volute</p>
            <a href="services-details.html"
              >learn more <i class="fas fa-arrow-right"></i></a
            >
          </div>
        </div>
        <div class="col-md-6 col-xl-3 col-12">
          <div class="single-service-item">
            <div class="icon">
              <img src="assets/img/icon/sicon4.png" alt="service" />
            </div>
            <h4>Digital Solutions</h4>
            <p>Sed perspicias unde omnis natus error volute</p>
            <a href="services-details.html"
              >learn more <i class="fas fa-arrow-right"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="funfact-wrapper text-white">
    <div class="container">
      <div
        class="funfact-content-grid bg-cover"
        style="background-image: url('assets/img/funfact-line.png')"
      >
        <div class="single-funfact-item">
          <div class="icon">
            <i class="fal fa-gem"></i>
          </div>
          <h3>368</h3>
          <p>Project Completed</p>
        </div>
        <div class="single-funfact-item">
          <div class="icon">
            <i class="fal fa-drafting-compass"></i>
          </div>
          <h3>785</h3>
          <p>Expert Consultants</p>
        </div>
        <div class="single-funfact-item">
          <div class="icon">
            <i class="fal fa-stars"></i>
          </div>
          <h3>896</h3>
          <p>5 Stars Rating</p>
        </div>
        <div class="single-funfact-item">
          <div class="icon">
            <i class="fal fa-trophy-alt"></i>
          </div>
          <h3>125</h3>
          <p>Awards Winning</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="our-team-wrapper section-padding pb-0">
    <div class="container">
      <div class="row align-items-center mb-40">
        <div class="col-12 col-md-6">
          <div class="section-title">
            <p>Exclusive Members</p>
            <h1>Meet Our Experience Team Members</h1>
          </div>
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0 text-md-right">
          <a href="team.html" class="theme-btn off-white"
            >View all Member <i class="fas fa-arrow-right"></i></a
          >
        </div>
      </div>
  
      <div class="team-members-list row">
        <div class="col-12 col-md-6 col-xl-3">
          <div class="single-team-member">
            <div
              class="member-img bg-cover bg-center"
              style="background-image: url('assets/img/team/team1.jpg')"
            >
            </div>
            <div class="member-bio">
              <h4>Wallace S. Camacho</h4>
              <p>Business Manager</p>
            </div>
            <div class="social-profile">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-behance"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <div class="single-team-member active">
            <div
              class="member-img bg-cover bg-center"
              style="background-image: url('assets/img/team/team2.jpg')"
            >
            </div>
            <div class="member-bio">
              <h4>Lawrence Pacheco</h4>
              <p>Web Developer</p>
            </div>
            <div class="social-profile">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-behance"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <div class="single-team-member">
            <div
              class="member-img bg-cover bg-center"
              style="background-image: url('assets/img/team/team3.jpg')"
            >
            </div>
            <div class="member-bio">
              <h4>Timothy L. Figueroa</h4>
              <p>Business Manager</p>
            </div>
            <div class="social-profile">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-behance"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <div class="single-team-member">
            <div
              class="member-img bg-cover bg-center"
              style="background-image: url('assets/img/team/team4.jpg')"
            >
            </div>
            <div class="member-bio">
              <h4>Michael L. Branch</h4>
              <p>Product Manager</p>
            </div>
            <div class="social-profile">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-behance"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="case-study-wrapper section-padding">
    <div class="container">
      <div class="row mb-50 align-items-center">
        <div class="col-12 col-md-5">
          <div class="section-title">
            <p>our Recent project</p>
            <h1>Latest Case Studies</h1>
          </div>
        </div>
        <div class="col-12 col-md-7 mt-4 mt-md-0 text-md-right">
          <div class="case-cat-filter">
            <button data-filter="*" class="active">All</button>
            <button data-filter=".business">Business</button>
            <button data-filter=".consulting">Consulting</button>
            <button data-filter=".product">Product</button>
            <button data-filter=".engineering">Engineering</button>
          </div>
        </div>
      </div>
  
      <div class="row grid">
        <div class="col-xl-4 col-md-6 grid-item business product engineering">
          <div class="single-case-study">
            <div
              class="features-thumb bg-cover"
              style="background-image: url('assets/img/case/1.jpg')"
            >
            </div>
            <div class="content">
              <h3>Business Knowledge</h3>
              <p>IT Consultation</p>
              <a href="project-details.html"
                >Read more <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 grid-item product engineering">
          <div class="single-case-study">
            <div
              class="features-thumb bg-cover"
              style="background-image: url('assets/img/case/2.jpg')"
            >
            </div>
            <div class="content">
              <h3>Business Knowledge</h3>
              <p>IT Consultation</p>
              <a href="project-details.html"
                >Read more <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 grid-item consulting product">
          <div class="single-case-study">
            <div
              class="features-thumb bg-cover"
              style="background-image: url('assets/img/case/3.jpg')"
            >
            </div>
            <div class="content">
              <h3>Relationship Buildup</h3>
              <p>IT Consultation</p>
              <a href="project-details.html"
                >Read more <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 grid-item business engineering">
          <div class="single-case-study">
            <div
              class="features-thumb bg-cover"
              style="background-image: url('assets/img/case/4.jpg')"
            >
            </div>
            <div class="content">
              <h3>Financial Investment</h3>
              <p>IT Consultation</p>
              <a href="project-details.html"
                >Read more <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 grid-item consulting business">
          <div class="single-case-study">
            <div
              class="features-thumb bg-cover"
              style="background-image: url('assets/img/case/5.jpg')"
            >
            </div>
            <div class="content">
              <h3>Research & Market Plan</h3>
              <p>IT Consultation</p>
              <a href="project-details.html"
                >Read more <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 grid-item consulting product">
          <div class="single-case-study">
            <div
              class="features-thumb bg-cover"
              style="background-image: url('assets/img/case/6.jpg')"
            >
            </div>
            <div class="content">
              <h3>Business Knowledge</h3>
              <p>IT Consultation</p>
              <a href="project-details.html"
                >Read more <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="client-brand-logo-wrap">
    <div class="container">
      <div
        class="brand-carousel-active pt-60 pb-60 d-flex justify-content-between owl-carousel"
      >
        <div class="single-client">
          <img src="assets/img/brand/1.png" alt="" />
        </div>
        <div class="single-client">
          <img src="assets/img/brand/2.png" alt="" />
        </div>
        <div class="single-client">
          <img src="assets/img/brand/3.png" alt="" />
        </div>
        <div class="single-client">
          <img src="assets/img/brand/4.png" alt="" />
        </div>
        <div class="single-client">
          <img src="assets/img/brand/b4.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  
  <section class="our-pricing-wrapper section-bg section-padding">
    <div class="container">
      <div class="row mb-35">
        <div class="col-12 col-lg-12">
          <div class="section-title text-white text-center">
            <p>our pricing plan</p>
            <h1>Awesome Pricing Plan</h1>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="single-pricing-plan">
            <h3>Basic Plan</h3>
            <p>Quis autem vel eum iure reprehes derit quin voluptate velite</p>
            <div class="pricing">
              <span>$</span>
              <h2>25.63</h2>
              <p>monthly</p>
            </div>
            <ul class="plan-features">
              <li class="active">IT Consulting</li>
              <li>Product Engineering</li>
              <li>Digital Solutions</li>
            </ul>
            <div class="buy-btn">
              <a href="contact.html" class="theme-btn"
                >Get started <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="single-pricing-plan active">
            <h3>Regular Plan</h3>
            <p>Quis autem vel eum iure reprehes derit quin voluptate velite</p>
            <div class="pricing">
              <span>$</span>
              <h2>54.99</h2>
              <p>monthly</p>
            </div>
            <ul class="plan-features">
              <li class="active">IT Consulting</li>
              <li class="active">Product Engineering</li>
              <li>Digital Solutions</li>
            </ul>
            <div class="buy-btn">
              <a href="contact.html" class="theme-btn"
                >Get started <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="single-pricing-plan">
            <h3>Premium Plan</h3>
            <p>Quis autem vel eum iure reprehes derit quin voluptate velite</p>
            <div class="pricing">
              <span>$</span>
              <h2>95.75</h2>
              <p>monthly</p>
            </div>
            <ul class="plan-features">
              <li class="active">IT Consulting</li>
              <li class="active">Product Engineering</li>
              <li class="active">Digital Solutions</li>
            </ul>
            <div class="buy-btn">
              <a href="contact.html" class="theme-btn"
                >Get started <i class="fas fa-arrow-right"></i></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="testimonial-wrapper section-padding">
    <div
      class="testimonial-bg bg-cover"
      style="background-image: url('assets/img/testi_bg.jpg')"
    >
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 offset-lg-4 col-xl-5 offset-xl-7">
          <div class="testimonial-carousel-active owl-carousel owl-theme">
            <div class="single-testimonial">
              <div class="icon">
                <i class="flaticon-right-quote"></i>
              </div>
              <h2>
                On the other hand denounc with ghteo indignation and dislike men
                who so beguiled and demoralized the charms of pleasure the momen
                blinded by desire cannot foresee the pain and trouble.
              </h2>
              <div class="client-info">
                <div
                  class="client-img bg-cover"
                  style="background-image: url('assets/img/home1/testi1.jpg')"
                >
                </div>
                <div class="client-bio">
                  <h3>Salman Ahmed</h3>
                  <p>Web Developer</p>
                </div>
              </div>
            </div>
  
            <div class="single-testimonial">
              <div class="icon">
                <i class="flaticon-right-quote"></i>
              </div>
              <h2>
                On the other hand denounc with ghteo indignation and dislike men
                who so beguiled and demoralized the charms of pleasure the momen
                blinded by desire cannot foresee the pain and trouble.
              </h2>
              <div class="client-info">
                <div
                  class="client-img bg-cover"
                  style="background-image: url('assets/img/home1/testi1.jpg')"
                >
                </div>
                <div class="client-bio">
                  <h3>Steven M. McLean</h3>
                  <p>UI Designer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section
    class="blog-section section-padding bg-contain"
    style="background-image: url('assets/img/blog_bg.png')"
  >
    <div class="container">
      <div class="row mb-30">
        <div class="col-12 col-lg-12">
          <div class="section-title text-center">
            <p>Latest News & Blog</p>
            <h1>Get Every Single Updates</h1>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-xl-4 col-md-6 col-12">
          <div class="single-blog-card">
            <div
              class="blog-featured-thumb bg-cover"
              style="background-image: url('assets/img/blog1.jpg')"
            >
            </div>
            <div class="content">
              <div class="post-author">
                <a href="news-details.html"
                  ><i class="fal fa-user-circle"></i> Michael K. Steven</a
                >
              </div>
              <h3>
                <a href="news-details.html"
                  >Make Honest Design Work As For Digital Business.</a
                >
              </h3>
              <div class="btn-link-share">
                <a href="news-details.html" class="theme-btn minimal-btn"
                  >read more <i class="fas fa-arrow-right"></i></a
                >
                <a href="#"><i class="fal fa-share-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="single-blog-card active">
            <div
              class="blog-featured-thumb bg-cover"
              style="background-image: url('assets/img/blog2.jpg')"
            >
            </div>
            <div class="content">
              <div class="post-author">
                <a href="news-details.html"
                  ><i class="fal fa-user-circle"></i> Salman Ahmed</a
                >
              </div>
              <h3>
                <a href="news-details.html"
                  >Should You Do When A Webs Design Trend Becomes</a
                >
              </h3>
              <div class="btn-link-share">
                <a href="news-details.html" class="theme-btn minimal-btn"
                  >read more <i class="fas fa-arrow-right"></i></a
                >
                <a href="#"><i class="fal fa-share-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-12">
          <div class="single-blog-card">
            <div
              class="blog-featured-thumb bg-cover"
              style="background-image: url('assets/img/blog3.jpg')"
            >
            </div>
            <div class="content">
              <div class="post-author">
                <a href="news-details.html"
                  ><i class="fal fa-user-circle"></i> Michael K. Steven</a
                >
              </div>
              <h3>
                <a href="news-details.html"
                  >How To Space And Kern Punct Marks Other Symbols</a
                >
              </h3>
              <div class="btn-link-share">
                <a href="news-details.html" class="theme-btn minimal-btn"
                  >read more <i class="fas fa-arrow-right"></i></a
                >
                <a href="#"><i class="fal fa-share-alt"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="cta-banner">
    <div
      class="container-fluid bg-cover section-bg"
      style="background-image: url('assets/img/cta_bg1.png')"
    >
      <div class="cta-content">
        <div class="row align-items-center">
          <div class="col-xl-7 text-white col-12 text-center text-xl-left">
            <h1>
              Ready To Get Free Consulations For <br /> Any Kind Of It Solutions ?
            </h1>
          </div>
          <div class="col-xl-5 col-12 text-center text-xl-right">
            <a href="contact.html" class="theme-btn mt-4 mt-xl-0"
              >Get a quote <i class="fas fa-arrow-right"></i></a
            >
            <a
              href="services-details.html"
              class="ml-sm-3 mt-4 mt-xl-0 theme-btn minimal-btn"
              >read more <i class="fas fa-arrow-right"></i></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
</Basic>
